.App {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
  gap: 15px
}

.add-container {
  max-width: 1200px;
  margin: 50px 50px 0 50px;
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 600px;
  height: 350px;
}

.add-form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

.text-underlined {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.add-car {
  background: #4caf50 !important;
  color: white !important;
}

.icon {
  font-size: medium !important;
}

.icon:hover {
  cursor: pointer
}

.text-gray {
  color: gray
}

.text-red {
  color: red
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.car-container {
  margin: 50px;
}

.car-paper {
  padding: 50px;
}